Repository gergelybodor/minesweeper: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --list-different

feat: remove unnecessary file
  src/app/minesweeper/minesweeper-cell.ts
Due: eslint

added login and navigation for basic components
  .angular-cli.json
  .editorconfig
  package.json
  src/app/app-routing.module.ts
  src/app/app.component.html
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/auth.guard.spec.ts
  src/app/auth.guard.ts
  src/app/dashboard/dashboard.component.html
  src/app/dashboard/dashboard.component.scss
  src/app/dashboard/dashboard.component.spec.ts
  src/app/dashboard/dashboard.component.ts
  src/app/login/login.component.html
  src/app/login/login.component.scss
  src/app/login/login.component.spec.ts
  src/app/login/login.component.ts
  src/app/login/login.service.spec.ts
  src/app/login/login.service.ts
  src/app/navigation/navigation.component.html
  src/app/navigation/navigation.component.scss
  src/app/navigation/navigation.component.spec.ts
  src/app/navigation/navigation.component.ts
  src/app/users/users.component.html
  src/app/users/users.component.scss
  src/app/users/users.component.spec.ts
  src/app/users/users.component.ts
  yarn.lock
Due: eslint, prettier --list-different

added minesweeper component
  src/app/projects/minesweeper/minesweeper-cell.ts
  src/app/projects/minesweeper/minesweeper.component.html
  src/app/projects/minesweeper/minesweeper.component.scss
  src/app/projects/minesweeper/minesweeper.component.ts
Due: eslint, prettier --list-different

added json-viewer component
  src/app/app-routing.module.ts
  src/app/dashboard/dashboard.component.scss
  src/app/projects/json-viewer/json-object/json-object.component.html
  src/app/projects/json-viewer/json-object/json-object.component.scss
  src/app/projects/json-viewer/json-object/json-object.component.spec.ts
  src/app/projects/json-viewer/json-object/json-object.component.ts
  src/app/projects/json-viewer/json-viewer-data.ts
  src/app/projects/json-viewer/json-viewer-routing.module.ts
  src/app/projects/json-viewer/json-viewer.component.html
  src/app/projects/json-viewer/json-viewer.component.scss
  src/app/projects/json-viewer/json-viewer.component.spec.ts
  src/app/projects/json-viewer/json-viewer.component.ts
  src/app/projects/json-viewer/json-viewer.module.ts
Due: eslint, prettier --list-different

added project service, lazy loading project modules
  src/app/app-routing.module.ts
  src/app/app.component.html
  src/app/app.module.ts
  src/app/dashboard/dashboard.component.html
  src/app/dashboard/dashboard.component.scss
  src/app/dashboard/dashboard.component.ts
  src/app/dashboard/project.service.spec.ts
  src/app/dashboard/project.service.ts
  src/app/login/login.component.html
  src/app/login/login.component.scss
  src/app/login/login.service.ts
  src/app/navigation/navigation.component.html
  src/app/navigation/navigation.component.scss
  src/app/navigation/navigation.component.ts
  src/app/projects/minesweeper/minesweeper-routing.module.ts
  src/app/projects/minesweeper/minesweeper.component.html
  src/app/projects/minesweeper/minesweeper.component.scss
  src/app/projects/minesweeper/minesweeper.component.spec.ts
  src/app/projects/minesweeper/minesweeper.component.ts
  src/app/projects/minesweeper/minesweeper.module.ts
  src/styles.scss
Due: eslint, prettier --list-different

added table component
  src/app/app-routing.module.ts
  src/app/login/login.component.ts
  src/app/login/login.service.ts
  src/app/projects/table/table-filter-by.pipe.spec.ts
  src/app/projects/table/table-filter-by.pipe.ts
  src/app/projects/table/table-order-by.pipe.spec.ts
  src/app/projects/table/table-order-by.pipe.ts
  src/app/projects/table/table-routing.module.ts
  src/app/projects/table/table.component.html
  src/app/projects/table/table.component.scss
  src/app/projects/table/table.component.spec.ts
  src/app/projects/table/table.component.ts
  src/app/projects/table/table.module.ts
  src/app/projects/table/table.service.spec.ts
  src/app/projects/table/table.service.ts
Due: eslint, prettier --list-different

feat: update page title
  src/app/minesweeper/minesweeper.ts
  src/index.html
Due: eslint, prettier --list-different

feat: update template
  src/app/minesweeper/minesweeper.component.html
Due: prettier --list-different

Create dependabot.yml
  .github/dependabot.yml
Due: none

feat: prefetch sprites
  src/index.html
Due: prettier --list-different

feat: add win 95 style
  src/app/minesweeper/minesweeper.component.html
  src/app/minesweeper/minesweeper.component.scss
  src/app/minesweeper/minesweeper.component.ts
  src/app/minesweeper/minesweeper.ts
  src/assets/sprites/win_95/sprite_1.png
  src/assets/sprites/win_95/sprite_2.png
  src/assets/sprites/win_95/sprite_3.png
  src/assets/sprites/win_95/sprite_4.png
  src/assets/sprites/win_95/sprite_5.png
  src/assets/sprites/win_95/sprite_6.png
  src/assets/sprites/win_95/sprite_7.png
  src/assets/sprites/win_95/sprite_8.png
  src/assets/sprites/win_95/sprite_blank.png
  src/assets/sprites/win_95/sprite_blank_pressed.png
  src/assets/sprites/win_95/sprite_flag.png
  src/assets/sprites/win_95/sprite_mine.png
  src/assets/sprites/win_95/sprite_mine_red.png
  src/assets/sprites/win_95/sprite_question.png
  src/assets/sprites/win_95/sprite_question_pressed.png
  src/assets/sprites/win_95/sprite_x.png
Due: eslint, prettier --list-different

chore: add renovate config
  .github/renovate.json5
  renovate.json
Due: prettier --list-different

chore: add renovate config
  .github/renovate.json5
Due: none

feat: add win 95/98 style (#62)
  src/app/minesweeper/minesweeper.component.html
  src/app/minesweeper/minesweeper.component.scss
  src/app/minesweeper/minesweeper.component.ts
  src/app/minesweeper/minesweeper.ts
  src/assets/sprites/win_95/sprite_1.png
  src/assets/sprites/win_95/sprite_2.png
  src/assets/sprites/win_95/sprite_3.png
  src/assets/sprites/win_95/sprite_4.png
  src/assets/sprites/win_95/sprite_5.png
  src/assets/sprites/win_95/sprite_6.png
  src/assets/sprites/win_95/sprite_7.png
  src/assets/sprites/win_95/sprite_8.png
  src/assets/sprites/win_95/sprite_blank.png
  src/assets/sprites/win_95/sprite_blank_pressed.png
  src/assets/sprites/win_95/sprite_flag.png
  src/assets/sprites/win_95/sprite_mine.png
  src/assets/sprites/win_95/sprite_mine_red.png
  src/assets/sprites/win_95/sprite_question.png
  src/assets/sprites/win_95/sprite_question_pressed.png
  src/assets/sprites/win_95/sprite_x.png
  src/index.html
Due: eslint, prettier --list-different

chore: update dependencies
   .nvmrc
  .eslintrc.json
  .prettierrc.json
  angular.json
  package-lock.json
  package.json
  src/app/app.component.css
  src/app/app.component.ts
  src/app/app.config.ts
  src/app/app.routes.ts
  src/app/minesweeper/minesweeper.component.css
  src/app/minesweeper/minesweeper.component.ts
  src/environments/environment.development.ts
  src/environments/environment.ts
  src/favicon.ico
  src/index.html
  src/main.ts
  src/styles.css
  tsconfig.json
Due: eslint, prettier --list-different

chore: remove dependabot config
  .github/.gitkeep
  .github/dependabot.yml
Due: none

refactor: use new ng template syntax
  src/app/minesweeper/minesweeper.component.css
  src/app/minesweeper/minesweeper.component.html
  src/app/minesweeper/minesweeper.component.ts
Due: eslint, prettier --list-different

feat: add counters
  src/app/app.component.html
  src/app/minesweeper/mine-counter/mine-counter.component.css
  src/app/minesweeper/mine-counter/mine-counter.component.html
  src/app/minesweeper/mine-counter/mine-counter.component.ts
  src/app/minesweeper/minesweeper.component.css
  src/app/minesweeper/minesweeper.component.html
  src/app/minesweeper/minesweeper.component.ts
  src/app/minesweeper/time-counter/time-counter.component.css
  src/app/minesweeper/time-counter/time-counter.component.html
  src/app/minesweeper/time-counter/time-counter.component.ts
  src/assets/sprites/win_95/smiley.png
  src/assets/sprites/win_95/smiley_lost.png
  src/assets/sprites/win_95/smiley_o.png
  src/assets/sprites/win_95/smiley_pressed.png
  src/assets/sprites/win_95/smiley_won.png
  src/assets/sprites/win_95/time_0.png
  src/assets/sprites/win_95/time_1.png
  src/assets/sprites/win_95/time_2.png
  src/assets/sprites/win_95/time_3.png
  src/assets/sprites/win_95/time_4.png
  src/assets/sprites/win_95/time_5.png
  src/assets/sprites/win_95/time_6.png
  src/assets/sprites/win_95/time_7.png
  src/assets/sprites/win_95/time_8.png
  src/assets/sprites/win_95/time_9.png
  src/assets/sprites/win_95/time_blank.png
  src/assets/sprites/win_95/time_dash.png
  src/styles.css
Due: eslint, prettier --list-different

refactor: use signal input in mine counter
  src/app/minesweeper/mine-counter/mine-counter.component.ts
Due: eslint

refactor: remove unused style
  src/app/minesweeper/minesweeper.component.css
Due: prettier --list-different

refactor: replace game class state with signal based service
  src/app/minesweeper/minesweeper.component.html
  src/app/minesweeper/minesweeper.component.ts
  src/app/minesweeper/minesweeper.ts
  src/app/minesweeper/store/index.ts
  src/app/minesweeper/store/minesweeper.store.ts
  src/app/minesweeper/store/minesweeper.types.ts
Due: eslint, prettier --list-different

feat: reveal mine variations upon losing the game
  src/app/minesweeper/minesweeper.component.html
  src/app/minesweeper/minesweeper.component.ts
  src/app/minesweeper/store/minesweeper.store.ts
  src/app/minesweeper/store/minesweeper.types.ts
  src/app/minesweeper/time-counter/time-counter.component.ts
Due: eslint, prettier --list-different

feat: add win95 teal background color
  src/app/app.component.css
  tailwind.config.js
Due: eslint, prettier --list-different

feat: add reset button
  src/app/minesweeper/minesweeper.component.css
  src/app/minesweeper/minesweeper.component.html
  src/app/minesweeper/minesweeper.component.ts
  src/app/minesweeper/reset-button/reset-button.component.css
  src/app/minesweeper/reset-button/reset-button.component.html
  src/app/minesweeper/reset-button/reset-button.component.ts
  src/app/minesweeper/store/minesweeper.store.ts
Due: eslint, prettier --list-different

Path conditions:
  eslint: any of: *.{ts,js}
  prettier --list-different: any of: *.{html,scss,css,json}
